{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
	{{ parent() }} - {{ event.name }} - Ilmoittautuneet
{% endblock %}

{% block body %}
	<div class="container">
		<div id="content">
			<div class="row" id="title">
    			<h2>{{ event.name }}</h2>
    		</div>
    		<div class="row">
    			<div class="span10" id="registered">
    				<h3>{% trans %}header.registrant.list{% endtrans %}</h3>
    				<table class="table table-striped table-bordered table-condensed">
    					<thead>
    						<tr>
    							<th>{% trans %}name.first{% endtrans %}</th>
    							<th>{% trans %}name.last{% endtrans %}</th>
    							<th>email</th>
    							{% for field in freeTextFields %}
    								<th>{{ field.name }}</th>
    							{% endfor %}
    						</tr>
    					</thead>
    					<tbody>
			    			{% for registration in registrations %}
			    				<tr>
									<td>{{ registration.firstName }}</td>
									<td>{{ registration.lastName }}</td>
									<td>{{ registration.email }}</td>
									{% for entry in registration.freeTextEntries %}
    									<td>{{ entry.content }}</td>
    								{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
    		</div>
    	</div>
    	{% include 'ProdekoIlmoBundle:Ilmo:footer.html.twig' %}
    </div>
	
{% endblock %}