<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% trans %}title{% endtrans %}{% endblock %}</title>
        <link href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/ilmomainstyle.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jQuery-1.7.1.min.js') }}"><\/script>')</script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>