{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
{{ parent() }} - {% trans %}event.create{% endtrans %}
{% endblock %}

{% block body %}
<div class="container">
	<form action="{{ path('create', { 'id': id }) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_label(form.name, "Tapahtuman nimi") }}
	    {{ form_widget(form.name) }}
    	{{ form_label(form.description, "Tapahtuman kuvaus") }}
	    {{ form_widget(form.description, {'attr': { 'rows': '10'} }) }}
	    {{ form_label(form.summary, "Lyhyt kuvaus tapahtumasta") }}
	    {{ form_widget(form.summary, {'attr': {'placeholder': 'Kirjoita tähän tapahtumasta lyhyt, korkeintaan 160 merkin pituinen kuvaus, joka näytetään tapahtumalistassa.',
											   'rows': '4'} }) }}
		{{ form_label(form.takesPlace, 'Tapahtuma-aika') }}
	    {{ form_widget(form.takesPlace, {'attr': {'placeholder': 'dd.mm.yyyy hh.mm'} }) }}
	    {{ form_errors(form.takesPlace) }}
	    {{ form_label(form.registrationStarts, 'Ilmoittautuminen alkaa') }}
	    {{ form_widget(form.registrationStarts, {'attr': {'placeholder': 'dd.mm.yyyy hh.mm'} }) }}
	    {{ form_errors(form.registrationStarts) }}
		{{ form_label(form.registrationEnds, 'Ilmoittautuminen päättyy') }}
	    {{ form_widget(form.registrationEnds, {'attr': {'placeholder': 'dd.mm.yyyy hh.mm'} }) }}
	    {{ form_errors(form.registrationEnds) }}
	    {{ form_label(form.location, 'Paikka') }}
	    {{ form_widget(form.location) }}
	    {{ form_errors (form.location) }}
		
		<div class="row">
			<div class="span5">
				<h3>{% trans %}fields.additional{% endtrans %}</h3>
				<div class="freeTextFields" data-prototype="
					 {{ form_label(form.freeTextFields.get('prototype').name, 'Nimi') | e }}
					 {{ form_widget(form.freeTextFields.get('prototype').name, {'attr': {'class': 'input-medium'}}) | e }}
					 {{ form_errors(form.freeTextFields.get('prototype').name) | e }}
					 {{ form_label(form.freeTextFields.get('prototype').flagPrivate, 'Piilotettu') | e }}
					 {{ form_widget(form.freeTextFields.get('prototype').flagPrivate, {'attr': {'checked': 'checked'}}) | e }}
					 {{ form_errors(form.freeTextFields.get('prototype').flagPrivate) | e }}">
		    		{% for field in form.freeTextFields %}
		    			<div class="well form-inline freeTextField"> {# well-luokka antaa bootstrapista "upotetun" muotoilun #}
		       	    		{{ form_label(field.name, "Nimi") }}
					    	{{ form_widget(field.name, {'attr': {'class': 'input-medium'}}) }}
					    	{{ form_errors(field.name) }}
							{{ form_label(field.flagPrivate, "Yksityinen") }}
					    	{{ form_widget(field.flagPrivate) }}
					    	{{ form_errors(field.flagPrivate) }}
		       	    	</div>
		        	{% endfor %}
				</div>
			</div>
			
			<div class="span5">
				<h3>{% trans %}fields.multipleChoice{% endtrans %}</h3>
				<div class="multipleChoiceFields" data-prototype="
					{{ form_label(form.multipleChoiceFields.get('prototype').name, 'Nimi') | e }}
					{{ form_widget(form.multipleChoiceFields.get('prototype').name, {'attr': {'class': 'input-medium'}}) | e }}
					{{ form_errors(form.multipleChoiceFields.get('prototype').name) | e }}
					{{ form_label(form.multipleChoiceFields.get('prototype').flagPrivate, 'Piilotettu') | e }}
					{{ form_widget(form.multipleChoiceFields.get('prototype').flagPrivate, {'attr': {'checked': 'checked'}}) | e }}
					{{ form_errors(form.multipleChoiceFields.get('prototype').flagPrivate) | e }} <br/> {# TODO: tee tämä jotenkin muuten #}
					{{ form_label(form.multipleChoiceFields.get('prototype').choices, 'Vaihtoehdot (erottele puolipisteellä)') | e }}
					{{ form_widget(form.multipleChoiceFields.get('prototype').choices, {'attr': {'class': 'input-medium'}}) | e }}
					{{ form_errors(form.multipleChoiceFields.get('prototype').choices) | e }}">
					
		    		{% for field in form.multipleChoiceFields %}
		       	    	<div class="well multipleChoiceField">
							{{ form_label(field.name, 'Nimi') }}
							{{ form_widget(field.name, {'attr': {'class': 'input-medium'}}) }}
							{{ form_errors(field.name) }}
							{{ form_label(field.flagPrivate, 'Piilotettu') }}
							{{ form_widget(field.flagPrivate, {'attr': {'checked': 'checked'}}) }}
							{{ form_errors(field.flagPrivate) }}
							{{ form_label(field.choices, 'Vaihtoehdot (erottele puolipisteellä)') }}
							{{ form_widget(field.choices, {'attr': {'class': 'input-medium'}}) }}
							{{ form_errors(field.choices) }}
		       	    	</div>
		        	{% endfor %}
				</div>
			</div>
		</div>
		<div class="quotas" data-prototype="
			{{ form_label(form.quotas.get('prototype').name, 'Nimi') | e }}
			{{ form_widget(form.quotas.get('prototype').name, {'attr': {'class': 'input-medium'}}) | e }}
			{{ form_errors(form.quotas.get('prototype').name) | e }}
			{{ form_label(form.quotas.get('prototype').size, 'Koko') | e }}
			{{ form_widget(form.quotas.get('prototype').size, {'attr': {'class': 'input-medium'}}) | e }}
			{{ form_errors(form.quotas.get('prototype').size) | e }}">
			
			{% for quota in form.quotas %}
				<div class="well {% if not event.isOpen %}quota{% endif %} form-inline">
					{{ form_label(quota.name, 'Nimi') }}
					{{ form_widget(quota.name, {'attr': {'class': 'input-small'}}) }}
					{{ form_errors(quota.name) }}
					{{ form_label(quota.size, 'Koko') }}
					{{ form_widget(quota.size, {'attr': {'class': 'input-small'}}) }}
					{{ form_errors(quota.size) }}
				</div>
			{% endfor %}
		</div>
	    <input type="submit" />
	</form>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/createEvent.js') }}"></script>
{% endblock %}