{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
{{ parent() }} - {% trans %}event.create{% endtrans %}
{% endblock %}

{% block body %}
<div class="container">
	<form action="{{ path('create', { 'id': id }) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_row(form.name) }}
	    {{ form_row(form.summary) }}
	    {{ form_row(form.description) }}
	    {{ form_row(form.takesPlace) }}
	    {{ form_row(form.registrationStarts) }}
	    {{ form_row(form.registrationEnds) }}
	    {{ form_row(form.location) }}
		
		<div class="row">
			<div class="span5">
				<h3>{% trans %}fields.additional{% endtrans %}</h3>
				<div class="freeTextFields" data-prototype="{{ form_widget(form.freeTextFields.get('prototype')) | e }}"> 
		    		{% for field in form.freeTextFields %}
		    			<div class="well freeTextField"> {# well-luokka antaa bootstrapista "upotetun" muotoilun #}
			       	    	{{ form_row(field.name) }}
			       	    	{{ form_row(field.flagPrivate) }}
		       	    	</div>
		        	{% endfor %}
				</div>
			</div>
			
			<div class="span5">
				<h3>monivalintakentät:</h3>
				<div class="multipleChoiceFields" data-prototype="{{ form_widget(form.multipleChoiceFields.get('prototype')) | e }}">
		    		{% for field in form.multipleChoiceFields %}
		       	    	<div class="well multipleChoiceField">
			       	    	{{ form_row(field.name) }}
			       	    	{{ form_row(field.flagPrivate) }}
			       	    	{{ form_row(field.choices) }}
		       	    	</div>
		        	{% endfor %}
				</div>
			</div>
		</div>
		
		<table>
		<tr>
			<th>{% trans %}nimi{% endtrans %}</th>
			<th>{% trans %}koko{% endtrans %}</th>
		</tr>	
			{% for quota in form.quotas %}
				<tr>
					<td>{{ form_row(quota.name) }}</td>
					<td>{{ form_row(quota.size) }}</td>
				</tr>
			{% endfor %}
		</table>
		
	    <input type="submit" />
	</form>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/createEvent.js') }}"></script>
{% endblock %}