{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}

<div class="container">
		<div class="row">
			<div class="span9" id="title">
				<h1>{% trans %}ilmokilke{% endtrans %}</h1>
			</div>
			<div class="span3">
				<h3>{% trans %}header.list.sidebar{% endtrans %}</h3>
			</div>
		</div>

<h2>{% trans %}registration.open{% endtrans %}</h2>
{% for event in activeEvents %}
	<div class="row">
		<div class="span6">
			<a href={{ path('show', {'id': event.id}) }}><h2 class="event" style="display: inline;" data-content="{{ event.summary }}">{{ event.name }}</h2></a>
			<p>{{ event.takesPlace | date("d.m.Y G:i") }}</p>
		</div>
    </div>
{% endfor %}

<h2>{% trans %}events.upcoming{% endtrans %}</h2>
{% for event in upcomingEvents %}
	<div class="row">
			<div class="span6">
				<div class="event">
					<a href={{ path('show', {'id': event.id}) }}><h2 class="event" style="display: inline;" data-content="{{ event.summary }}">{{ event.name }}</h2></a>
					<p>{{ event.takesPlace | date("d.m.Y G:i") }}</p>
				</div>
			</div>
    </div>
{% endfor %}

<h2>{% trans %}registration.ended{% endtrans %}</h2>
{% for event in pastEvents %}
	<div class="row">
		<div class="span6">
			<div class="event">
				<a href={{ path('show', {'id': event.id}) }}><h2 class="event" style="display: inline;" data-content="{{ event.summary }}">{{ event.name }}</h2></a>
				<p>{{ event.takesPlace | date("d.m.Y G:i") }}</p>
			</div>
		</div>
    </div>
{% endfor %}
	<div class="row" id="devbuttons">
	<a href="{{ path('create') }}" id="eventcreate" class="btn" >{% trans %}event.new{% endtrans %}</a>

	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/event.js') }}"></script>
{% endblock %}
