{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
	{{ parent() }} - {{ event.name }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="span9" id="title">
				<h1>Ilmokilke</h1>
			</div>
			<div class="span3">
				<h3>T&auml;h&auml;n voisi kirjoittaa jotain</h3>
			</div>
		</div>
		<div id="content">
			<div class="row">
				<div class="span12">
	    			<h2 id="eventtitle">{{ event.name }}</h2>
	    			<p id="eventtime">{{ event.takesPlace | date("d.m.Y G:i") }}</p>
	    			<p id="eventsummary">{{ event.summary }}</p>
	    			{% if isOpen %}<button id="eventsubscribe" class="btn" data-toggle="modal" href="#subscriptionmodal">Ilmoittaudu</button>
	    			Auki on vittu
	    			<!-- Start subscription modal -->
	    			{% include 'ProdekoIlmoBundle:Ilmo:registration.html.twig' %}
	    			<!-- End subscription modal -->
	    			{% endif %}
				</div>
    		</div>
    		<div class="row">
    			<div class="span6" id="registered">
    				<h3>Ilmoittautuneet:</h3>
    				<table class="table table-striped table-bordered table-condensed">
    					<thead>
    						<tr>
    							<th>Etunimi</th>
    							<th>Sukuimi</th>
    						</tr>
    					</thead>
    					<tbody>
			    			{% for registration in registrations %}
			    				<tr>
									<td>{{ registration.firstName }}</td>
									<td>{{ registration.lastName }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
    		</div>
    	</div>
    	{% include 'ProdekoIlmoBundle:Ilmo:footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/event.js') }}"></script>
{% endblock %}
