{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
	Vitun ilmokilke
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="span9" id="title">
				<h1>Ilmokilke</h1>
			</div>
			<div class="span3">
				<h3>T&auml;h&auml;n voisi kirjoittaa jotain</h3>
			</div>
		</div>
		<div class="row" id="content">
			<div class="span12">
    			<h2 id="eventtitle">{{ event.name }}</h2>
    			<p id="eventtime">{{ event.takesPlace | date("m/d/Y") }}</p>
    			<p id="eventsummary">{{ event.summary }}</p>
    			<button id="eventsubscribe" class="btn" data-toggle="modal" href="#subscriptionmodal">Ilmoittaudu</button>
    			
    			<!-- Start subscription modal -->
    			{% include 'ProdekoIlmoBundle:Ilmo:registration.html.twig' %}
    			<!-- End subscription modal -->
    			
    			{% for registration in registrations %}
					<div class="row">
						{{ registration.firstName }}
				    </div>
				{% endfor %}
				
    		</div>
    	</div>
    	{% include 'ProdekoIlmoBundle:Ilmo:footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/event.js') }}"></script>
{% endblock %}
