{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
	{{ parent() }} - {{ event.name }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
				<h1>{% trans %}ilmokilke{% endtrans %}</h1>
				<p><a href={{ path('list') }}>Takaisin listaan</a>
			</div>
			<div class="span3">
				<h3>{% trans %}header.event.sidebar{% endtrans %}</h3>
				<p><a href={{ path('adminRegistrations', {'id': event.id}) }}>Poista ilmoittautumisia</a></p>
				<p><a href={{ path('create', {'id': event.id}) }}>Muokkaa tapahtumaa</a></p>
			</div>
		</div>
		
			<div class="row">
				
	    			<h2 id="eventtitle">{{ event.name }}</h2>
	    				<div class="row">
    						<div class="span4">
    							<p id="eventtime">{% trans %}time{% endtrans %}: {{ event.takesPlace | date("j.n.y") }} {% trans %}time.at{% endtrans %} {{ event.takesPlace | date("G:i") }}</p>
    							<p id="eventlocation">{% trans %}location{% endtrans %}: {{ event.location }}</p>
    							<p id="eventsummary">{{ event.summary }}</p>
    						</div>
    						<div class="span8">
    							<p id="registrationPeriod">{% trans %}registration.period{% endtrans %}: {{ event.registrationStarts | date("j.n.y G:i") }} - {{ event.registrationEnds | date("j.n.y G:i") }}</p>
    							<p id="registrationOpen">{% if isOpen %}{% trans %}registration.open{% endtrans %}{% else %}{% trans %}registration.not.yet.open{% endtrans %}{% endif %}</p>
    						</div>
	    				</div>
	    			
	    			
	    			{% if isOpen %}<button id="eventsubscribe" class="btn" data-toggle="modal" href="#subscriptionmodal">{% trans %}register{% endtrans %}</button>
	    			<!-- Start subscription modal -->
	    			{% include 'ProdekoIlmoBundle:Ilmo:registration.html.twig' %}
	    			<!-- End subscription modal -->
	    			{% endif %}
				
    		</div>
    		<div class="row">
    			<div class="span6" id="eventdescription">
    				<p>{{ event.description }}</p>
    			</div>
    			<div class="span6" id="registered">
    				<h3>{% trans %}header.registrant.list{% endtrans %}</h3>
	    			{% for key, quota in registrations %}
		    			{% if quota %}
			    			<h4>{{ key }}</h4>
			    			<table class="table table-striped table-bordered table-condensed">
		    					<thead>
		    						<tr>
		    							<th>{% trans %}name.first{% endtrans %}</th>
		    							<th>{% trans %}name.last{% endtrans %}</th>
		    						</tr>
		    					</thead>
			    				<tbody>
			    				{% for registration in quota %}
				    				<tr>
										<td>{{ registration.firstName }}</td>
										<td>{{ registration.lastName }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						{% endif %}
					{% endfor %}
					<h3>jono</h3>
					<table class="table table-striped table-bordered table-condensed">
						<thead>
							<tr>
								<th>{% trans %}name{% endtrans %}</th>
								<th>{% trans %}time{% endtrans %}</th>
							</tr>
						</thead>
						<tbody>
						{% for registration in queue %}
							<tr>
								<td>{{ registration.firstName }} {{ registration.lastName }}</td>
								<td>{{ registration.registrationTime|date("d.m.y h.i.s") }}
							</tr>
						{% endfor %}
						</tbody>
					</table>
						
				</div>
    		</div>
    	
    	{% include 'ProdekoIlmoBundle:Ilmo:footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/event.js') }}"></script>
{% endblock %}
