{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
<div class="container" >

	<div class="hero-unit">
		<h2>{% trans %}bodytext.eventlist.header{% endtrans %}</h2>
		<p>{% trans %}bodytext.eventlist.content{% endtrans %}</p>
	</div>
	<div id="news" class="alert alert-info span9 offset1">
		<p style="font-size: 18px; line-height: 35px">{% trans %}feedback{% endtrans %}</p>
		<p style="font-size: 18px; line-height: 35px">{% trans %}feedbackuni{% endtrans %}</p>
		<p style="font-size: 18px; line-height: 35px"><a href="https://www.prodeko.org/tietosuojakaytanto/">Prodekon tietosuojakäytäntö</a></p>
	</div>
	<div class="container" id="create-div">
		<div class="span4 offset5">
			{% if is_granted('ROLE_ADMIN') %}
				<br>
				<p><a href="{{ path('create') }}" id="eventcreate" class="btn-large btn-success" >{% trans %}event.new{% endtrans %}</a></p>
			{% endif %}
		</div>
	</div>
	{% if kiltisEvents %}
		<div class="container" id="kiltis-div">
			<div class="span9 offset1 well well-kiltis">
				<h2>Kiltisilmo juuri nyt!</h2>
				{% for event in kiltisEvents %}
				<div class="row">
					<div class="span3">
						<h3 class="event" style="display: inline;" data-content="{{ event.summary }}">
							<a href={{ path('show', {'id': event.id}) }}>{{ event.name }}</a>
						</h3>
						<p>{{ event.takesPlace | date("d.m.Y G:i") }}</p>
					</div>
					<div class="span5">
						<p>{{ event.description | nl2br  }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
	<div class="span10 offset1">
		<h2>{% trans %}registration.open{% endtrans %}</h2>
	</div>

	<div class="container" id="active-div">
		<div class="span10 offset1">
		{%  if activeEvents %}
			<table class="table table-striped table-bordered table-condensed" id="open-table">
				<thead>
					<tr>
						<th>{% trans %}name{% endtrans %}</th>
						<th>{% trans %}time{% endtrans %}</th>
						<th>{% trans %}registration.ends{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
				{% for event in activeEvents %}
					<tr>
					<td class="event" data-content="{{ event.summary }}">
						<a href={{ path('show', {'id': event.id}) }}><h3  style="display: inline;">{{ event.name }}</h3></a>
					</td>
					<td>{{ event.takesPlace | date("d.m.Y G:i") }}</td>
					<td>{{ event.registrationEnds | date("d.m.Y G:i") }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h3>{% trans %}registration.open.none{% endtrans %}</h3>
		{%  endif %}
		</div>
	</div>

	<div class="span10 offset1">
		<h2>{% trans %}registration.upcoming{% endtrans %}</h2>
	</div>

	<div class="container" id="upcoming-div">
		<div class="span10 offset1">
		{%  if upcomingEvents %}
			<table class="table table-striped table-bordered table-condensed" id="upcoming-table">
				<thead>
					<tr>
						<th>{% trans %}name{% endtrans %}</th>
						<th>{% trans %}time{% endtrans %}</th>
						<th>{% trans %}registration.starts{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
				{% for event in upcomingEvents %}
					<tr>
						<td class="event" data-content="{{ event.summary }}">
						<a href={{ path('show', {'id': event.id}) }}><h3 style="display: inline;">{{ event.name }}</h3></a>
						</td>
					<td>{{ event.takesPlace | date("d.m.Y G:i") }}</td>
					<td>{{ event.registrationStarts | date("d.m.Y G:i") }}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h3>{% trans %}registration.upcoming.none{% endtrans %}</h3>
		{%  endif %}
		</div>
	</div>

	<div class="span10 offset1">
		<h2>{% trans %}registration.ended{% endtrans %}</h2>
	</div>

	<div class="container" id="past-div">
		<div class="span10 offset1">
		{%  if pastEvents %}
			<table class="table table-striped table-bordered table-condensed" id="open-table">
			<thead>
				<tr>
					<th>{% trans %}name{% endtrans %}</th>
					<th>{% trans %}time{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for event in pastEvents %}
				<tr>
				<td class="event" data-content="{{ event.summary }}">
					<a href={{ path('show', {'id': event.id}) }}><h3 style="display: inline;">{{ event.name }}</h3></a>
				</td>
				<td>{{ event.takesPlace | date("d.m.Y G:i") }}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		{% else %}
			<h3>{% trans %}registration.ended.none{% endtrans %}</h3>
		{%  endif %}
		</div>
	</div>

</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/event.js') }}"></script>
{% endblock %}
