{% form_theme form 'ProdekoIlmoBundle:Form:ilmo.formtheme.html.twig' %}

<div class="modal" id="subscriptionmodal" style="display: none">
	<form action="{{ path('show', { 'id': event.id }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" class="form-horizontal">
		<div class="modal-header">
			<button class="close" data-dismiss="modal">&times;</button>
			<h3>{% trans %}register.for.event{% endtrans %} {{ event.name }}</h3>
		</div>
		<div class="modal-body">
				<div>{{ form_errors(form) }}</div>
	
				<fieldset class="control-group">
				    {{ form_label(form.firstName, "Etunimi", { 'attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_widget(form.firstName) }}
				    	{{ form_errors(form.firstName) }}
				    </div>
				</fieldset>
				
				<fieldset class="control-group">
				    {{ form_label(form.lastName, 'Sukunimi', { 'attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_widget(form.lastName) }}
				    	{{ form_errors(form.lastName) }}
				    </div>
				</fieldset>
				
				<fieldset class="control-group">
				    {{ form_label(form.email, 'Sähköposti', { 'attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_widget(form.email) }}
				    	{{ form_errors(form.email) }}
				    </div>
				</fieldset>
				
				<fieldset class="control-group">
				    {{ form_label(form.allergies, 'Allergiat', { 'attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_widget(form.allergies) }}
				    	{{ form_errors(form.allergies) }}
				    </div>
				</fieldset>
				
				{% for entry in form.freeTextEntries %}
					{# Loop.index0 sisältää tämänhetkisen iteraation numeron nollasta alkaen, fieldNames kenttien nimet #}
					<fieldset class="control-group">
					    {{ form_label(entry.content, fieldNames[loop.index0], { 'attr': {'class': 'control-label'}}) }}
					    <div class="controls">
					    	{{ form_widget(entry.content) }}
					    	{{ form_errors(entry.content) }}
					    </div>
					</fieldset> 
				{% endfor %}
				<ul>
				{% for quotaName in quotaNames %}
					<li>{{ quotaName }}</li>
				{% endfor %}
				</ul>
				{# Älä poista form_restiä, se luo lomakkeen varmistustokenin #}
				{{ form_rest(form) }}
			
						    
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">{% trans %}close{% endtrans %}</a>
			<input type="submit" class="btn btn-info" value="Ilmoittaudu!" />
		</div>
	</form>
</div>