{% form_theme form 'ProdekoIlmoBundle:Form:ilmo.formtheme.html.twig' %}

<div class="modal" id="subscriptionmodal" style="display: none">
	<form action="{{ path('show', { 'id': event.id }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" class="form-horizontal">
		<div class="modal-header">
			<button class="close" data-dismiss="modal">&times;</button>
			<h3>Ilmoittaudu tapahtumaan {{ event.name }}</h3>
		</div>
		<div class="modal-body">
				<div>{{ form_errors(form) }}</div>
	
				<fieldset class="control-group">
				    {{ form_label(form.firstName, 'Etunimi', { 'attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_widget(form.firstName) }}
				    	{{ form_errors(form.firstName) }}
				    </div>
				</fieldset>
				
				<fieldset class="control-group">
				    {{ form_label(form.lastName, 'Sukunimi', { 'attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_widget(form.lastName) }}
				    	{{ form_errors(form.lastName) }}
				    </div>
				</fieldset>
				
				<fieldset class="control-group">
				    {{ form_label(form.email, 'Sähköposti', { 'attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_widget(form.email) }}
				    	{{ form_errors(form.email) }}
				    </div>
				</fieldset>
				
				<fieldset class="control-group">
				    {{ form_label(form.allergies, 'Allergiat', { 'attr': {'class': 'control-label'}}) }}
				    <div class="controls">
				    	{{ form_widget(form.allergies) }}
				    	{{ form_errors(form.allergies) }}
				    </div>
				</fieldset>
				
				{{ form_rest(form) }}
			
						    
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Sulje</a>
			<input type="submit" class="btn btn-info" value="Ilmoittaudu!" />
		</div>
	</form>
</div>