{% extends 'ProdekoIlmoBundle:Ilmo:base.html.twig' %}

{% block title %}
	{% trans %}prompt.remove{% endtrans %}
{% endblock %}
{% if is_granted('ROLE_ADMIN') %}
	{% set cancelPath = path('adminRegistrations', {'id': registration.event.id}) %}
{% else %}
	{% set cancelPath = path('list') %}
{% endif %}
{% set okPath = path('remove', {'token': registration.token}) %}

{% block body %}
<div class="container">
 	<div class="row">
	 	<div class="alert alert-info">
	 		<p>{% trans %}prompt.remove{% endtrans %}</p>
	 		<p><strong>{{ registration.event.name }}</strong></p>
	 		<p><strong>{{ registration.firstName }} {{ registration.lastName }}</strong></p>
	 	</div>
 	</div>
 	<div class="row">
	 	<button class="btn" type="submit" onclick="parent.location = '{{ cancelPath }}'">{% trans %}cancel{% endtrans %}</button>
		<button class="btn btn-danger" type="submit" onclick="parent.location = '{{ okPath }}'">{% trans %}ok.remove{% endtrans %}</button>
 	</div>
</div>
{% endblock %}